<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#Cursos">Inicio</a>
    <a class="navbar-brand" href="#Estudiantes">Estudiantes</a>
    <a class="navbar-brand" href="/">Salir</a>
  </nav>