<div class="container">
{{>heaOne}}
{{>navDocente}}
<br>
<h1>Mis cursos</h1>
<br>
{{{cursosDocente listado}}}

<p>
    <b>Para ver los inscritos ingrese el id del curso</b>
</p>
<form action="/docente" method="POST">
    <div class="row">
        <div class="col">
            <label>Id Curso</label>
            <input type="number" class="form-control" placeholder="Id curso" name="idver" required> 
        </div>
        
    </div>
    <div class="row">
    	<div class="col">
    		<label>     </label>
        	<div class="form-group">
        	<br><button>Ver inscritos</button>
        </div>
    </div> 
</form>

<br>
{{{mostrarInscritosDocente listaIncritos}}}
{{>footer}}
</div>