<div class="container">
{{>heaOne}}

<br>
<h4>
	<!--
El resultado del registro de {{nombre}} es  
y el resultado del registro en mongo es: !-->
El resultado del registro de {{nombre}} es {{resultadoNuevo}}
</h4>
<br>
<p>
    Para ver los cursos debe volver a ingresar con su documento de identidad
</p>
<form action="/" method="get">
    <button>Regresar</button>
</form>
{{>footer}}
</div>