<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="aspirante">Inicio</a>
    <a class="navbar-brand" href="#matricula">Matriculas</a>
    <a class="navbar-brand" href="#misCursos">Mis cursos</a>
    <a class="navbar-brand" href="/">Salir</a>
  </nav>