

  <div class="Middle">

  <div class="Menu">
    <li class="item" id="OpcionesNavegacion">
      <a href="#OpcionesNavegacion" class="btnmenu">Opciones de navegacion</a>
      <div class="SubMenu">
        <a class="navbar-brand" href="#inicio">Inicio</a>
        <a class="navbar-brand" href="/">Salir</a>
      </div>
    </li>
    <li class="item" id="OpcionesMatriculas">
      <a href="#OpcionesMatriculas" class="btnmenu">Opciones de matricula</a>
      <div class="SubMenu">
        <a class="navbar-brand" href="#misCursos">Mis cursos</a>
        <a class="navbar-brand" href="#matricula">Matriculas</a>
        <a class="navbar-brand" href="#Eliminar">Eliminar curso</a>
      </div>
    </li>
  </div>
</div>