<div class="Middle">

  <div class="Menu">
    <li class="item" id="OpcionesNavegacion">
      <a href="#OpcionesNavegacion" class="btnmenu">Opciones de navegacion</a>
      <div class="SubMenu">
        <a class="navbar-brand" href="coordinador">Inicio</a>
        <a class="navbar-brand" href="/">Salir</a>
      </div>
    </li>
    <li class="item" id="setings">
      <a href="#setings" class="btnmenu">Opciones de apirantes</a>
      <div class="SubMenu">
        <a class="navbar-brand" href="editarUsuario">Editar usuarios</a>
        <a class="navbar-brand" href="verInscritos">Ver inscritos</a>
      </div>
    </li>
    <li class="item" id="OpcionesCurso">
      <a href="#OpcionesCurso" class="btnmenu">Opciones de curso</a>
      <div class="SubMenu">
        <a class="navbar-brand" href="crearCurso">Crear curso</a>
        <a class="navbar-brand" href="mostrarCursos">Ver cursos</a>
      </div>
    </li>

  </div>
</div>