<div class="container">
  {{>header}}

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="coordinador">Inicio</a>
    <a class="navbar-brand" href="crearCurso">Crear curso</a>
    <a class="navbar-brand" href="index">Ver cursos</a>
    <a class="navbar-brand" href="#">Inscribir</a>
    <a class="navbar-brand" href="#">Ver inscritos</a>
  </nav>
  </div>
