<div class="container">
{{>header}}

<p>
    Bienvenidos a la pagina para editar los usuarios
</p>

{{{listarUsuarios}}}

<!--<p>
El resultado del registro {{nombre}} fue {{crearCursos id nombre modalidad valor descripcion intensidad estado}}
</p>
   
   {{{crearTablaCursos}}}
   </div>!-->
