<div class="container">
    {{>header}}
    <br>
    <h3>
        Bienvenidos a la página de inicio de matriculas
    </h3>
    {{mensajeUsuario}}
    <form action="/ingreso" method="post">
        <div class="form-group">
            <br><label>Correo</label>
            <input type="email" class="form-control" placeholder="user@correo.com" name="correo" required>
        </div>
        <div class="form-group">
            <br><label>Documento de identidad</label>
            <input type="number" class="form-control" name="documento" required>
        </div>
        <div class="form-group">
            <br><button>Ingresar</button>
        </div>
    </form>

    <form action="/registro" method="post">
        <button>Registrarse</button>
    </form>
</div>