{{>header}}
<p>
    Bienvenidos a la pagina de inicio de matriculas
</p>
<form action = "/ingreso" method="post">
    <div class="form-group">
        <br><label>Correo</label>
        <input type="email" class="form-control" placeholder="user@correo.com" name="correo">
    </div>
    <div class="form-group">
        <br><label>Documento de identdad</label>
        <input type="number" class="form-control" name="documento">
    </div>    
    <div class="form-group">
        <br><button>Ingresar</button>
    </div>    
</form>

<form action="/registro" method="post">
    <button>Registrarse</button>
</form>