{{>header}}

<p>
    Bienvenidos a la pagina de listado de cursos
</p>
<p>
El resultado del registro de {{nombre}} es {{registrarUsuario correo cedula nombre telefono}}
</p>
<p>
    Para ver los cursos debe volver a ingresar con su documento de identidad
</p>
<form action="/" method="get">
    <button>Regresar</button>
</form>