<div class="container">
{{>header}}
{{>navCoordinador}}

<br>    
<b>{{crearCursos id nombre modalidad valor descripcion intensidad estado}}</b>
<br>
<b>{{mensajeEditarCurso}}</b>
   
{{{crearTablaCursos}}}

<h1>
    Editar curso
</h1>
<b>{{EditarCurso idCurso estado}}</b>
<form action="/mostrarCursos" method="POST">
    <div class="row">
        <div class="col">
            <label>Id Curso</label>
            <input type="number" class="form-control" placeholder="Id curso" name="idCurso" required> 
        </div>
        <div class="col">
            <label>Estado</label>
            <select class="form-control" name="estado">
                <option>-</option>
                <option>Disponible</option>
                <option>Cerrado</option>
            </select>
        </div>
    </div>
    <div class="row">
    	<div class="col">
    		<label>     </label>
        	<div class="form-group">
        	<br><button>Editar</button>
        </div>
    </div> 
</form>
</div>