<div class="container">
{{>header}}
{{>navCoordinador}}

<p>
    Bienvenidos a la pagina de mostrar cursos
</p>
    
{{crearCursos id nombre modalidad valor descripcion intensidad estado}}

   
   {{{crearTablaCursos}}}
   </div>