<div class="container">
{{>header}}
{{>navCoordinador}}


<h4>
    <center style="position: relative; right: 240px;">
        Visualizacion de cursos
    </center>
   
</h4>  
<br>    
<b>{{mostrar}}</b>
<br>  

<br>
<b>{{mensajeEditarCurso}}</b>
   
{{{crearTablaCursos listado}}}

<h4>
    Editar estado del curso
</h4>

<form class="edusuario" action="/mostrarCursos" method="POST">
    <div class="row">
        <div class="col">
            <label>Id Curso</label>
            <input type="number" class="form-control" placeholder="Id curso" name="idCurso" required> 
        </div>
        <div class="col">
            <label>Estado</label>
            <select class="form-control" name="estado">
                <option>-</option>
                <option>Disponible</option>
                <option>Cerrado</option>
            </select>
        </div>
    </div>
    <div class="row">
    	<div class="col">
    		<label>     </label>
        	<div class="form-group">
        	<br><button type="button" class="btn btn-success">Editar</button>
        </div>
    </div> 
</form>
</div>