<div class="container">
{{>header}}
{{>navCoordinador}}

<p>
    Bienvenidos a la pagina de mostrar cursos
</p>
    
{{crearCursos id nombre modalidad valor descripcion intensidad estado}}

<<<<<<< HEAD
=======

<p>
El resultado del registro {{nombre}} fue {{crearCursos id nombre modalidad valor descripcion intensidad estado}}
</p>
>>>>>>> Branch_Memo
   
   {{{crearTablaCursos}}}
   </div>